<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-grey.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<title>Trocio - Mail Confirmation</title>
</head>

<body class="w3-padding">
	<a href="/" class="clickable w3-xlarge">
		<img src="/favicon.ico" alt="logo Trocio" height="35" style="transform: translate(0px, -2px);">
		TROCIO<span class="w3-tiny" style="color: red;">alpha</span>
	</a>

	<div class="w3-row" style="height: 500px; max-width: 1200px; margin: auto;">
		<div class="w3-col l6" style="margin-top: 100px;">
			<img src="/images/mailconfirmation.png" alt="Icon mail confirmé" class="w3-right">
		</div>
		<div class="w3-col l6" style="margin-top: 100px;">
			<span class="w3-jumbo">Merci,</span>
			<br>
			<span class="w3-xxxlarge">Votre email est validé !</span>
		</div>
	</div>

	<style>
		a {
			text-decoration: none;
		}
	</style>

</body>