<!DOCTYPE html>
<html>
<head>
	<title>Trocio</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/assets/trocs.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

	<div id="waitLoaded" class="w3-display-middle w3-center">
		<h1>Bienvenue sur TROCIO</h1>
		Chargement de l'application...
		<div class="w3-center"><img src="/favicon.ico" alt="Logo trocio" class="w3-spin"></div>
	</div>

	<script src="assets/trocs.js"></script>

</body>
</html>