<!DOCTYPE html>
<html>
<head>
	<title>Trocio - Workplace</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-grey.css">
	
</head>

<body>
	<div id="waitLoaded" class="w3-display-middle w3-center">
		<h1>Bienvenue sur TROCIO</h1>
		Chargement de l'application...
	</div>

	<script src="assets/main.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script><!-- A supprimer -->
	<script src="https://kit.fontawesome.com/4eb68e6a9e.js"></script>


	<!-- payment modal -->
	<div id="paymentForm" class="w3-modal w3-animate-opacity">
	  <div class="w3-modal-content w3-theme-d3">
	    <div class="w3-container w3-xlarge">
	    	<div></div>
	    	<div class="w3-row w3-xxlarge w3-margin">
	    		<div class="w3-round w3-theme-d5 w3-padding">
	    			<i class="fa fa-user"></i>
	    			<span id="paymentMember"></span>
	    		</div>
	    	</div>
	    	<div class="w3-row w3-xxlarge w3-margin">
	    		<div class="w3-round w3-theme-d5 w3-padding">
	    			<i id="paymentDirection" class="fa fa-arrow-up"></i>
	    			<span id="paymentAmount"></span>
	    		</div>
	    	</div>
	    	<div class="w3-row w3-margin">
				<div id="cancelPayment" class="w3-half w3-button w3-round w3-red">
					<i class="fa fa-times"></i>
				</div>
				<div id="confirmPayment" class="w3-half w3-button w3-round w3-green">
					<i class="fa fa-check"></i>
				</div>
			</div>
	    </div>
	  </div>
	</div>

	<style type="text/css">#users::-webkit-scrollbar { display: none; }</style>
	<style type="text/css">#articles::-webkit-scrollbar { display: none; }</style>
	<script src="javascripts/workplace.js"></script>

</body>
</html>