html, body {height: 100%;}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }
a { text-decoration: none; }

textarea {
    margin-top: 10px;
    resize: vertical;
    border: 1px solid #d6d6d6;
    width: 100%;
}

.clickable{
    cursor: pointer;
}
.underline-div {
    cursor: pointer;
}
.underline-div:not(.without-hover):hover .underline-span,
.underline-div.selected .underline-span {
    background-size: 100% 100%;
}
.underline-div:hover i, .underline-div.selected i {
    transform: scale(1.4);
}
.underline-div i {
    transition: transform .15s;
}
.underline-span {
    background: linear-gradient(to top, rgb(150, 150, 150) 0%, rgb(150, 150, 150) 1px, transparent 2px) no-repeat;
    background-size: 0% 100%;
    transition: background-size .15s;
}

.onglets {
    background: rgb(240, 240, 240);
}
.onglet {
    display: inline-block;
    background: rgb(240, 240, 240);
    border-radius: 10px 10px 0px 0px;
    border: 1px rgb(100, 100, 100);
}
.onglet.actived {
    background: white;
}

.list-element {
    background: rgb(245, 245, 245);
    border: solid 1px rgb(220, 220, 220);
    margin-bottom: 10px;
    border-radius: 4px;
    overflow-x: hidden;
    transition: .15s box-shadow;
}

.list-element.clickable:hover {
    box-shadow: 0px 0px 10px 0px rgba(200,200,200,0.6);
}

.list-element.valided {
    background: white;
}

.list-element .fa-trash-alt {
    transform: translate(30px, 0px);
    transition: .15s transform ease;
}

.list-element .fa-check {
    transform: translate(20px, 0px) scale(1);
    transition: .15s transform ease;
}

.list-element:hover .fa-trash-alt {
    transform: translate(0px, 0px);
}

.fa-trash-alt:hover {
    transform: scale(1.3) !important;
}

.list-element:hover .fa-check {
    transform: scale(0);
}

.button {
    cursor: pointer;
    border: solid 2px rgb(76, 175, 80);
    transition: all .3s;
    height: 35px;
    padding: 4px 10px 4px 10px;
}

.validButton {
    cursor: pointer;
    color: white;
    background: rgb(76, 175, 80);
    border: solid 2px;
    border-color: rgb(76, 175, 80);
    transition: all .3s;
    height: 35px;
    padding: 4px 10px 4px 10px;
}

.validButton:hover, .button:hover {
    border-color: rgb(76, 130, 80);
}

.hide {
    transition: all .2s;
    transform: scale(0);
    opacity: 0;
}

.visible {
    transform: scale(1) !important;
    opacity: 1 !important;
}

.tabs{
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab {
    transition: all .45s;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.tab.center {
    transform: translate(0px, 0px);
    opacity: 1;
}

.tab.left {
    transform: translate(-100%, 0px);
    opacity: 0;
    overflow: hidden;
}

.tab.right {
    transform: translate(100%, 0px);
    opacity: 0;
    overflow: hidden;
}

.close-icon {
    transition: all .15s;
    cursor: pointer;
}

.close-icon:hover {
    transform: scale(1.2);
    color: red;
}