// @import 'svelte-materialify/src/styles/variables';

$primary-color: #79b473;
$secondary-color: #4357ad;

$body-font-family: 'Poppins', 'Segoe UI', sans-serif;

$material-dark-theme: map-deep-merge(
  (
    'cards': rgb(50, 50, 50),
  ),
  $material-dark-theme
);
