//
// MDC Theme
//

$mdc-theme-primary: rgb(76, 175, 80);
$mdc-theme-on-primary: #ffffff;
$mdc-theme-secondary: rgb(100, 100, 100);

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: #b71c1c;
