:root {
    overflow-y: scroll;
    
}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }

body {
    font-family: Roboto,sans-serif!important;
}

a {
    text-decoration: none;
}

textarea {
    margin-top: 10px;
    resize: vertical;
    border: 1px solid #d6d6d6;
    width: 100%;
}

.clickable{
    cursor: pointer;
}
.clickable.smui-paper:hover {
    background: rgb(250, 250, 250);
}
.underline-div {
    cursor: pointer;
}
.underline-div:not(.without-hover):hover .underline-span,
.underline-div.selected .underline-span {
    background-size: 100% 100%;
}
.underline-div:hover i, .underline-div.selected i {
    transform: scale(1.4);
}
.underline-div i {
    transition: transform .15s;
}
.underline-span {
    background: linear-gradient(to top, rgb(150, 150, 150) 0%, rgb(150, 150, 150) 1px, transparent 2px) no-repeat;
    background-size: 0% 100%;
    transition: background-size .15s;
}

.onglets {
    background: rgb(240, 240, 240);
}

.onglet {
    display: inline-block;
    background: rgb(240, 240, 240);
    border-radius: 10px 10px 0px 0px;
    border: 1px rgb(100, 100, 100);
}
.onglet.actived {
    background: white;
}

.list-element {
    background: rgb(245, 245, 245);
    border: solid 1px rgb(220, 220, 220);
    margin-bottom: 10px;
    border-radius: 4px;
    overflow-x: hidden;
    transition: .15s box-shadow;
}

.list-element.clickable:hover {
    box-shadow: 0px 0px 10px 0px rgba(200,200,200,0.6);
}

.list-element.valided {
    background: white;
}

.list-element .fa-check {
    transform: translate(20px, 0px) scale(1);
    transition: .15s transform ease;
}

.list-element:hover .fa-check {
    transform: scale(0);
}

.button {
    cursor: pointer;
    border: solid 2px rgb(76, 175, 80);
    transition: all .3s;
    height: 35px;
    padding: 4px 10px 4px 10px;
}

.validButton {
    cursor: pointer;
    color: white;
    background: rgb(76, 175, 80);
    border: solid 2px;
    border-color: rgb(76, 175, 80);
    transition: all .3s;
    height: 35px;
    padding: 4px 10px 4px 10px;
}

.validButton:hover, .button:hover {
    border-color: rgb(76, 130, 80);
}

.button-icon {
    cursor: pointer;
    transition: all 0.3s;
}

.button-icon:hover {
    transform: scale(1.15);
}

.hide {
    transition: all .2s;
    transform: scale(0);
    opacity: 0;
}

.visible {
    transform: scale(1) !important;
    opacity: 1 !important;
}

/*
.tabs{
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab {
    transition: all .25s;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;

}

.tab.center {
    transform: translate(0px, 0px);
    opacity: 1;
}

.tab.left {
    transform: translate(-100%, 0px);
    opacity: 0;
    overflow: hidden;
}

.tab.right {
    transform: translate(100%, 0px);
    opacity: 0;
    overflow: hidden;
}
*/

.close-icon {
    transition: all .15s;
    cursor: pointer;
}

.close-icon:hover {
    transform: scale(1.2);
    color: red;
}

.row-selected {
    border-left: 3px solid rgb(168, 168, 168);
    border-right: 3px solid rgb(168, 168, 168);
}

.mdc-linear-progress__buffer {
    background-color:rgb(100, 100, 100)!important;
}

[data-pnotify] .material-container {
    border-radius: 6px;
    padding: 12px 16px!important;
    width: 300px!important;
}

[data-pnotify] .material-icon {
    transform: translate(-4px, 4px);
}


.simple-card {
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.simple-card.clickable {
    transition: .3s;
}

.simple-card.clickable:hover {
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.warning {
    display: inline-block;
    font-size: .8em;
    background: #ffa012;
    color: #fff;
    border-radius: 4px;
    padding: 2px 10px;
}
